.quadro-situacao {
  background-color: #0074FF;
  border: 1px solid #ccc;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-align: center;
  font-family: sans-serif;
}

.quadro-situacao-linha {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.situacao-card {
  width: 48px;
  height: 48px;
  padding: 8px;
  font-size: 11px;
  background-color: #181893;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.situacao-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #FF6700;
  color: rgb(244, 244, 244);
}

.situacao-card.selecionado {
  border: 2px solid #007bff;
  background-color: #FF6700;
  color: rgb(255, 253, 253);
}

.situacao-ativo,
.situacao-inativo,
.situacao-bloqueado,
.situacao-aprovar {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 6px;
  text-align: center;
  font-family: sans-serif;
}