.quadro-statusCNH {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 8px;
  background-color: #0074FF;
  border-radius: 6px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.quadro-statusCNH-linha {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.statusCNH-card {
  width: 48px;
  height: 48px;
  padding: 8px;
  font-size: 11px;
  background-color: #e0e0e0;
  color: black;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statusCNH-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #FF6700;
  color: rgb(244, 244, 244);
}

.statusCNH-card.selecionado {
  border: 2px solid #007bff;
  background-color: #FF6700;
  color: rgb(255, 253, 253);
}
