/* .tabela-wrapper {
  position: relative;
} */

.tabela-funcionarios {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.tabela-funcionarios th {
  text-align: left;
  padding: 13px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
  color: #ffffff;
}

.tabela-funcionarios td {
  text-align: left;
  padding: 18px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
  color: #000000;
}

.status-cnh.vencido {
  color: white;
  font-weight: bold;
}

.status-cnh.vencer {
  color: black;
  font-weight: bold;
}

.status-cnh.prazo {
  color: black;
  font-weight: bold;
}

.botao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.botao-topo img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}

.botao-topo img:hover {
  transform: scale(1.1);
}

.btnEditar {
  border-radius: 6px;
  background-color: #181893;
  color: #ffffff;
}

.btnEditar:hover {
  background-color: #FCDE0B;
  color: #181893;
}

