.tabela-wrapper {
  position: relative;
}

.tabela-funcionarios {
  width: 85%;
  margin: 0 auto;
  border-collapse: collapse;
}

.tabela-funcionarios th,
.tabela-funcionarios td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Cores para o Status CNH */
.status-cnh.vencido {
  /* background-color: #f44336; */
  background-color: #add8e6;
  color: white;
  font-weight: bold;
}

.status-cnh.vencer {
  /* background-color: #ffcc00; */
  background-color: #add8e6;
  color: black;
  font-weight: bold;
}

.status-cnh.prazo {
  background-color: #add8e6;
  /* Azul Claro */
  color: black;
  font-weight: bold;
}

.botao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.botao-topo img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}

.botao-topo img:hover {
  transform: scale(1.1);
}

.btnEditar {
  border-radius: 6px;
  background-color: #181893;
  color: #ffffff;
}

.btnEditar:hover {
  background-color: #FCDE0B;
  color: #181893;
}

