/* .tabela-clientes-wrapper {
    overflow-x: auto;
  } */
  
  .tabela-clientes {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .tabela-clientes thead tr {
    background: #eceffc;
  }
  
  .tabela-clientes th,
  .tabela-clientes td {
    text-align: left;
    padding: 18px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
    color: #222;
  }
  
  .tabela-clientes tbody tr:hover {
    background: #f8fafc;
  }
  
  .td-vazio {
    text-align: center;
    color: #555;
    padding: 16px;
  }
  